body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:900px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1400px;
  height:900px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:1231px;
  top:130px;
  width:37px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(197, 205, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:450px;
  width:71px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 119, 198, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:130px;
  width:166px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:162px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:488px;
  width:73px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  text-align:left;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:69px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(197, 205, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:501px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(197, 205, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:549px;
  width:80px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:549px;
  width:202px;
  height:25px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:549px;
  width:17px;
  height:21px;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:593px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:619px;
  width:80px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:593px;
  width:80px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:21px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:620px;
  width:171px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:263px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:215px;
  width:240px;
  height:263px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:263px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:215px;
  width:240px;
  height:263px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:263px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:215px;
  width:240px;
  height:263px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:420px;
  width:50px;
  height:50px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:801px;
  top:420px;
  width:50px;
  height:50px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:259px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:522px;
  width:358px;
  height:259px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:259px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:522px;
  width:353px;
  height:259px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:174px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:217px;
  width:351px;
  height:174px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:451px;
  width:127px;
  height:22px;
  font-size:16px;
  color:#999999;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:107px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:903px;
  top:670px;
  width:349px;
  height:107px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:51px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:726px;
  width:341px;
  height:51px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:91px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:681px;
  width:334px;
  height:91px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 102, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:732px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:1031px;
  top:732px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:732px;
  width:96px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:37px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:493px;
  width:209px;
  height:37px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:503px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u241_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:503px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u242_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:41px;
  background:inherit;
  background-color:rgba(197, 205, 215, 1);
  border:none;
  border-radius:5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:489px;
  width:113px;
  height:41px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:109px;
  word-wrap:break-word;
}
#u244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:492px;
  width:253px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:512px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:-209px;
  top:-4px;
  width:213px;
  height:8px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u245_seg2 {
  border-width:0px;
  position:absolute;
  left:-215px;
  top:-9px;
  width:18px;
  height:18px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
